/* Import Inter font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	/* Base styles */
	font-family: 'Inter', sans-serif;
}

body {
	@apply bg-slate-50 text-slate-900 dark:bg-slate-900 dark:text-slate-50;
}
